body{
    text-align: center;
    background: rgb(114,116,202);
}

.areaImagem{
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}

.areaImagem img{
    width: 100%;
}

.areaTexto{
    float: left;
    max-width: 500px;
    margin-left: 10px;
}

.button button{
    background-color: chocolate;
    width: 80px;
    height: 50px;
    border-radius: 10px;
}